1. Give a count of all videos currently out.

select count(*)
from rental
where return_date is null

2. Make a list of all customer names who have videos out and how much they owe.

SELECT rental.customer_id, customer.first_name, customer.last_name,count(*)
FROM rental
JOIN customer ON rental.customer_id=customer.customer_id
group by rental.customer_id,customer.first_name,customer.last_name

3.Give the most popular actors by store location.


from location 1:

SELECT inventory.store_id,film_actor.actor_id,actor.first_name,actor.last_name,count(*) 
FROM rental
JOIN inventory ON rental.inventory_id=inventory.inventory_id
join film_actor on inventory.film_id=film_actor.film_id
join actor on film_actor.actor_id=actor.actor_id
where inventory.store_id=1
group by inventory.store_id,film_actor.actor_id,actor.first_name,actor.last_name
order by count(*) desc limit 1


from location 2:

SELECT inventory.store_id,film_actor.actor_id,actor.first_name,actor.last_name,count(*) 
FROM rental
JOIN inventory ON rental.inventory_id=inventory.inventory_id
join film_actor on inventory.film_id=film_actor.film_id
join actor on film_actor.actor_id=actor.actor_id
where inventory.store_id=2
group by inventory.store_id,film_actor.actor_id,actor.first_name,actor.last_name
order by count(*) desc limit 1

5.What hour of the day do people rent most?

SELECT extract(hour FROM rental_date),count(*)
FROM rental
group by extract(hour FROM rental_date)
order by count(*) desc limit 1